/index.html            @prasanthbaskaran98
/docker-compose.yml    @Vengatesan301
/css/*                 @prasanthbaskaran98
/js/*                  @prasanthbaskaran98
/slick/*               @prasanthbaskaran98
/img/*                 @Vengatesan301
